
.App {
    background-color: rgb(54, 54, 54);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.CardGroup {
    margin: 20px !important;
}

.MainContent {
    position: relative;
    height: calc(100vh - 70px);
    max-height: 94vh;
    width: 100vw;
    display: flex;
    background-color: #6A6A6A;
    overflow: hidden;
}
.FilterButton{
    display: none;
}
@media only screen and (max-width: 1200px) {
    .FilterButton {
        display: initial;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .FilterIcon{
        height: 40%;
    }
    .MainContent {
        height: calc(100vh - 140px);
    }
    
}