.Popup * {
    margin: 0;
    padding: 0;
}

.Popup {
    background-color: #6A6A6A;
    background-image: linear-gradient(#E5DFCA, #6A6A6A);
    z-index: 9;
    position: absolute;
    padding: 40px;
    max-width: calc(100vw - 350px);
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
    right: 0;
    overflow-y: scroll;
}

.Popup .ImdbIcon {
    margin-bottom: 20px;
}

.Popup .lables .button{
    margin-bottom: 20px;
}

.Popup .BackButton {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.3);
}

.Popup .movieContent {
    display: flex;
    flex-direction: row;
}

.Popup .movieContent img {
    margin: 20px 20px 20px 0;
    align-self: center;
    position: relative;
    width: 40%;
    max-width: 500px;
    -webkit-box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.35);
}

.Popup .movieContent .info .lables {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.Popup .movieContent .info {
    width: 60%;
    max-width: 1000px;
    margin: 20px;
}

.Popup .movieContent .info h1 {
    font-size: 2vw;
    color: #383838;
}

.Popup .movieContent .info h2 {
    font-size: 1.8em;
    color: #5A5A5A;
    margin-bottom: 30px;
}

.Popup .movieContent .info h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.Popup .movieContent .info p {
    font-size: 1.2em;
}

/*For mindre skjermer */
@media only screen and (max-width: 1200px) {
    .Popup {
        max-width: none;
        width: 100vw;
        height: calc(100vh - 140px);
    }
    /* For mobil */
    @media only screen and (max-width: 700px) {
        .Popup {
            padding: 10px;
        }
        .Popup .BackButton {
            margin: 20px;
        }

        .Popup .movieContent {
            flex-direction: column;
            margin-bottom: 20px;
        }

        .Popup .movieContent img {
            margin: 0 0 20px 0;
            position: relative;
            width: 90%;
        }

        .Popup .movieContent .info {
            margin: 0;
            align-self: center;
            position: relative;
            width: 90%;
        }

        .Popup .movieContent .info .lables {
            justify-content: flex-start;
            margin-bottom: 20px;
        }
        .Popup .movieContent .info h1 {
            font-size: 2em;
        }
    }
}