.ControlElement {
    margin-bottom: 70px;
}
.ControlElement .SliderInfo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ControlElement .SliderInfo h2 {
    font-size: 1.5em;
    color: white;
    flex: 5;
    text-align: center;
    margin: auto;
}
.ControlElement .SliderInfo h3 {
    font-size: 1.3em;
    color: white;
    min-width: 10px;
    margin: auto;
    text-align: center;
    flex: 2;
}

.Checkbox {
    width: 50%;
}