.SortingPanel {
    max-width: calc(100% - 500px);
    width: 70%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.SortingPanel .SortingPanel {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
}